@import url("https://cdnjs.cloudflare.com/ajax/libs/antd/4.21.5/antd.min.css");



@font-face {
    /* TODO: Font Family https://www.dfonts.org/assets/visby-round-font-family/ */
    font-family: 'VisbyRoundCF-Regular';
    src: local('VisbyRoundCF-Regular'), url(./assets/VisbyRoundCF-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    /* TODO: Font Family https://www.dfonts.org/assets/visby-round-font-family/ */
    font-family: 'VisbyRoundCF-DemiBold';
    src: local('VisbyRoundCF-DemiBold'), url(./assets/VisbyRoundCF-DemiBold.woff) format('woff');
    font-weight: normal;
}

@font-face {
    /* TODO: Font Family https://www.dfonts.org/assets/visby-round-font-family/ */
    font-family: 'VisbyRoundCF-Heavy';
    src: local('VisbyRoundCF-Heavy'), url(./assets/VisbyRoundCF-Heavy.woff) format('woff');
    font-weight: normal;
}

body {
    font-family: 'VisbyRoundCF-Regular';
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 2px;
}


*:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}


*:hover::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
    border-radius: 20px;
}





.form-title {
    font-size: 42px;
    font-family: 'VisbyRoundCF-Heavy';
    letter-spacing: 0.5px;
    color: #e8e8e8;
    padding-bottom: 12px;
}

.form-subtitle {
    font-size: 18px;
    font-family: 'VisbyRoundCF-Regular';
    letter-spacing: 0.5px;
    color: #afafaf;
    padding-bottom: 24px;
}

.background-image {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-gradient-dark {
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(66deg, rgb(40, 43, 54) 0%, rgb(40, 43, 54) 50%, rgba(40, 43, 54, 0.8) 100%);
    /* ^ Built with https://cssgradient.io/ */
}

.background-gradient-light {
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(66deg, rgba(150, 157, 166, 0.9) 0%, rgba(150, 157, 166, 0.8) 50%, rgba(150, 157, 166, 0.7) 100%);
    /* ^ Built with https://cssgradient.io/ */
}






.--dark-theme {
    --chat-background: rgba(9, 9, 9, 0.923);
    --chat-panel-background: #131719;
    --chat-bubble-background: rgba(75, 75, 75, 0.112);
    --chat-bubble-active-background: #171a1b;
    --chat-add-button-background: #212324;
    --chat-primary-background: #915effe1;
    --chat-button-hover-color: rgba(75, 75, 75, 0.163);
    --chat-text-color: #a3a3a3;
    --chat-options-svg: #a3a3a3;
}

body {
    background: url(https://images.unsplash.com/photo-1495808985667-ba4ce2ef31b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
}

.chatSection {
    min-width: 550px;
    margin: auto;
}

#chat {
    background: var(--chat-background);
    max-width: 1100px;
    height: 90vh;
    margin: auto;
    margin-top: 25px;
    box-sizing: border-box;
    padding: 1em;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 1fr;
    column-gap: 20px;
}



#chat .btn-icon {
    position: relative;
    cursor: pointer;
}

#chat .btn-icon svg {
    stroke: #FFF;
    fill: #FFF;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat .chat__conversation-board {
    padding: 1em .5em 2em;
    overflow-y: scroll;
    height: calc(75vh - 100px);
    transition: 0.5s all;
    scroll-behavior: smooth;
}

#chat .chat__conversation-board__message-container.reversed {
    flex-direction: row-reverse;
}


#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__person {
    margin: 0 0 0 1.2em;
}

#chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__options {
    align-self: center;
    position: absolute;
    left: 0;
    display: none;
}

#chat .chat__conversation-board__message-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#chat .chat__conversation-board__message-container:hover .chat__conversation-board__message__options {
    display: flex;
    align-items: center;
}

#chat .chat__conversation-board__message-container:hover .option-item:not(:last-child) {
    margin: 0 0.5em 0 0;
}

#chat .chat__conversation-board__message-container:not(:last-child) {
    margin: 0 0 2em 0;
}



#chat .chat__conversation-board__message__person__avatar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}




#chat .chat__conversation-board__message__context {
    max-width: 55%;
    align-self: flex-end;
}

#chat .chat__conversation-board__message__options {
    align-self: center;
    position: absolute;
    right: 0;
    display: none;
}

#chat .chat__conversation-board__message__options .option-item {
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    outline: none;
}

#chat .chat__conversation-board__message__options .emoji-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
}

#chat .chat__conversation-board__message__options .more-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
}



#chat .chat__conversation-panel {
    background: var(--chat-panel-background);
    border-radius: 12px;
    padding: 0 1em;
    height: 55px;
    margin: 0.5em 0 0;
}

#chat .chat__conversation-panel__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 5px;
}

#chat .chat__conversation-panel__container .panel-item:not(:last-child) {
    margin: 0 1em 0 0;
}

#chat .chat__conversation-panel__button {
    background: grey;
    height: 20px;
    width: 30px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#chat .chat__conversation-panel .add-file-button {
    height: 23px;
    min-width: 23px;
    width: 23px;
    background: var(--chat-add-button-background);
    border-radius: 50%;
}

#chat .chat__conversation-panel .add-file-button svg {
    width: 70%;
    stroke: #54575c;
}

#chat .chat__conversation-panel .emoji-button {
    min-width: 23px;
    width: 23px;
    height: 23px;
    background: transparent;
    border-radius: 50%;
}

#chat .chat__conversation-panel .emoji-button svg {
    width: 100%;
    fill: transparent;
    stroke: #54575c;
}

#chat .chat__conversation-panel .send-message-button {
    background: var(--chat-primary-background);
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
}

#chat .chat__conversation-panel .send-message-button:active {
    transform: scale(0.97);
}

#chat .chat__conversation-panel .send-message-button svg {
    margin: 1px -1px;
}

#chat .chat__conversation-panel__input {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    color: var(--chat-text-color);
    font-size: 13px;
    background: transparent;
    border: 0;
    font-family: "Lato", sans-serif;
    resize: none;
}

.chat_conversation-header {
    width: 100%;
    padding: 10px;
    color: white;
    display: grid;
    background-color: var(--chat-panel-background);
    border-radius: 10px;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: auto;
    margin-bottom: 10px;

}

.chat_conversation-header-image {
    width: 50px;
}

.chat_conversation-header-details>h3 {
    margin: 0;
    padding: 0;
}

.chat_conversation-header-details>span {
    color: #ffffff69;
    font-size: 11px;
}

.chat_conversation-header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.chat__conversation-board-default {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.chat__conversation-board_message_box {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background: var(--chat-bubble-background);
    border-radius: 10px;


}

.msgTxt {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0;
    color: #afafaf;
}

.userIsUploading {
    padding: 5px;
    font-size: 12px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.562);
}

@keyframes loadingAnimation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.loadingDots {
    display: inline-block;
    text-align: left;
    font-size: 15px;
}

.dot1 {
    animation: loadingAnimation  1.5s infinite;
    animation-delay: 0.1s;
}
.dot2 {
    animation: loadingAnimation  1.5s infinite;
    animation-delay: 0.2s;
}
.dot3 {
    animation: loadingAnimation  1.5s infinite;
    animation-delay: 0.3s;
}

.msgTime {
    color: #54575c;
    font-size: 8px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
    padding-top: 2px;

}

.lable {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.iconStyle {
    margin: 2px;
    padding: 5px;
    background-color: #00000018;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.771);
}

.imageFile {
    max-width: 300px;
    height: auto;
    border-radius: 10px;

}

.flex_down {
    display: flex;
    flex-direction: column;
}


.FileDisplay {

    color: white;
    width: auto;

    align-items: center;
    padding: 10px;
    display: flex;
    border-radius: 10px 10px 0 0;
    margin-bottom: 3px;

}

.pdf {
    background-color: #ff000010;
}

.ppt,
.pptx {
    background-color: #ffa20010;
}

.doc,
.docx {
    background-color: #0055ff10;
}

.xls,
.xlsx {
    background-color: #00ff1e10;
}

.img {
    background-color: #00f7ff10;
}

.unknown {
    background-color: #eaff0010;
}

.fileIconeDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FileAnimation {
    position: absolute;
    z-index: 2;
    top: 13px;
}

.fileIcone {
    width: 45px;
    cursor: pointer;


}

.opacity7 {
    opacity: 0.7;
}

.fileDetails {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.fileDetails>h4 {
    width: 170px;
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Display an ellipsis (...) when text is truncated */

    color: white;
}

.fileFixWidth {
    width: 200px;
}

.filesTechnical {
    display: flex;
    justify-content: space-between;
    color: #767676;
    text-transform: uppercase;
    font-size: 10px;
}



@keyframes jump {
    25% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5em);
    }

    75% {
        transform: translateY(0);
    }
}

.typing {
    display: inline-flex;
    height: 1rem;
    width: min-content;
    align-items: flex-end;
}

.typing span {
    width: 0.5em;
    height: 0.5em;
    background: #7d7d7d;
    border-radius: 50%;
    margin: 0 0.1em;
    animation: jump 1500ms infinite;
}

.typing span:nth-child(2) {
    animation-delay: 250ms;
}

.typing span:nth-child(3) {
    animation-delay: 500ms;
}




/* //my css */


h1,
h2,
h3 {
    color: rgb(255, 255, 255);
}

.sidepanle {
    display: flex;
    height: 100%;
    color: white;

    border-radius: 10px;
    gap: 10px;

}

.zInxex2 {
    position: relative;
    z-index: 2;
}

.sidepanle_btns>div {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.sidepanle_btns>div :hover {
    background-color: var(--chat-button-hover-color);
}

.sidepanle_btns {
    padding-top: 80px;
}



.sidepanle_heading {
    text-align: center;
    font-weight: bolder;
    color: rgb(233, 233, 233);
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.809);
}


.user {
    height: 80px;
    width: 300px;
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(75, 75, 75, 0.045);
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;

}

.user:hover {
    background-color: var(--chat-button-hover-color);

}

.imageDiv>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;


}

.detailsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detailsDiv>span:nth-child(1) {
    font-size: 17px;
    color: #ffffffca;
}

.detailsDiv>span:nth-child(2) {
    font-size: 14px;
    color: #a3a3a3;
}

.detailsDiv>div:nth-child(3) {
    width: auto;
    font-size: 11px;
    text-align: right;
}

.offline {
    color: #31434d;

}

.online {
    color: rgb(72, 255, 0);
    text-shadow: rgba(67, 176, 0, 0.919) 0px 0px 5px;

}

.detailsDiv_findUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.detailsDiv_findUser>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.detailsDiv_findUser>div:nth-child(1)>span:nth-child(1) {
    font-size: 17px;
    color: #ffffffca;
}

.detailsDiv_findUser>div:nth-child(1)>span:nth-child(2) {
    font-size: 14px;
    color: #a3a3a3;
}

.detailsDiv_findUser>div:nth-child(1)>div:nth-child(3) {
    height: 10px;
}








.addFriendDiv {
    position: absolute;
    transition: all 0.7s;
    height: 100%;
    color: white;
    background: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
}

.user-list {
    overflow-y: scroll;
    height: 600px;
}

.loadingDiv {
    width: 100%;
    height: 80px;

}

.laoderClass {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;


}

.loader {
    width: 15px;
    height: 15px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.searchUserheader {
    color: white;
}


.userNameInput {
    width: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.794);
    border: none;
    margin: 10px;
    outline: none;
    border-bottom: 1px solid #8147fc;

}

.searchGrp {
    display: flex;
    justify-content: center;
    align-items: center;

}


.deselectedUser {
    background-color: rgba(75, 75, 75, 0.045);
}

.selectedUser {
    background-color: var(--chat-primary-background);
}

.msgForm {
    position: relative;
    z-index: 2;
}

.viewFileBeforeSend_body {

    padding: 10px;
    bottom: 60px;
    background: #131719;
    border-radius: 10px;
    padding-top: 30px;
    position: absolute;
}

.viewFileBeforeSend {
    width: 300px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;

    padding-right: 5px;
}

.FileDisplay_Specific {
    border-radius: 0px;
    position: relative;
    color: rgb(195, 195, 195);
    border-bottom: 1px solid rgba(255, 255, 255, 0.285);
    cursor: pointer;
}

.FileDisplay_Specific:hover{
    background-color: rgba(255, 255, 255, 0.081);
}


.FileDisplay_Specific:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.FileDisplay_Specific:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
    border: none;
}

.RemoveCircleOutlineIcon,
.closeIconPreview {
    position: absolute;
    right: 3px;
    top: 3px;
    color: white;
    cursor: pointer;
}


.filePre {
    height: 75px;
    width: auto;

}

.file_Name {
    font: 10px;
    width: 200px;
    text-overflow: ellipsis " [..]";
    margin: 0;
    padding: 0;
}


/* emojiComp */



.emojiComp {

    background-color: #131719;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    padding-top: 30px;

}

.emojiTable {
    width: 300px;
    height: 300px;
    overflow-y: scroll;

}

.emDiv {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.em {
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;

    background-color: #6e6e6e28;
}

.em:hover {
    background-color: #313131;

}

.active {
    background-color: var(--chat-primary-background);
}

.deactive {
    background-color: var(--chat-add-button-background);

}




@media only screen and (max-width: 1000px) {
    #chat {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 1fr;
        height: 100vh;
        margin: 0;
        width: 100vw;
    }

    .chatSection {
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 105px;

    }

    #chat .chat__conversation-board {
        height: auto;
    }

    .sidepanle_btns {
        padding-top: 0;
    }

    .addFriendDiv {
        height: 100vh;
        z-index: 5;

    }

    .sidepanle_heading {
        margin-top: 0;
    }

    .user-list {
        max-height: auto;
    }


}


/* select file */


.selectFile {
    width: 145px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    position: absolute;

    gap: 10px;
    bottom: 70px;
    background-color: #131719;

}

.selectFileDiv {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.iconStyle>div {
    color: white;
    display: flex;
    padding: 7px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.iconStyle:hover {
    background-color: #212324;
}




@media only screen and (max-width: 650px) {
    #chat {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 55px;
    }




    .chatSection { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 60px;

    }

    #chat .chat__conversation-board {
        
    }

    .sidepanle_btns {
        display: flex;
    }

    .addFriendDiv {
        height: 85vh;
        overflow-y: scroll;
    }
    .msgForm{
    height: auto;
    }

}